doctype html
html
  head
    <meta name="viewport" content="width=device-width,maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    title= 'printrbot cloud'
    link(rel="icon", type="image/png", href="/images/icon.png")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')

    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    div#topView
      block maincontent
