<div class="modal fade"  tabindex="-1" role="dialog"  id="printer-profile" aria-hidden="true">
<form>
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="printerDialogTitle"><% if (printer.id) { %>Edit<% } else { %>Add<% } %> Printer</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="form-group">
            <div>
              <label class="control-label">Name: </label>
            </div>
            <div class="">
              <input type="text" class="form-control name" required placeholder="name" value="<%- printer.name %>"/>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label">IP Address: </label>
            </div>
            <div class="">
              <input type="text" class="form-control ip" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" placeholder="IP Address" value="<%- printer.ip %>"/>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label">Password (optional): </label>
            </div>
            <div class="">
              <input type="password" class="form-control password" placeholder="Password" value="<%- printer.password %>"/>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <% if (printer.id) { %>
        <button type="button" class="btn btn-danger delete pull-left" data-dismiss="modal"><i class="fa fa-remove"></i>  Delete Printer</button>
        <% } %>
        <button type="button" class="btn btn-default cancel" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
        <button type="submit" class="btn btn-default save"><i class="fa fa-check"></i> Save</button>
      </div>
    </div>
  </div>
</form>
</div>
