<div class="row">

  <div class="col-xs-12 header">
    <h1><%- project.get('name') %></h1>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="panel">
      <div class="preview" style="min-height:100px">
        <img class="" src="<%- (project.get('preview')) ? project.get('preview') : '/images/noimage.png' %>"/>
      </div>
      <div class="panel-body project-actionpanel">
        <button class="btn btn-default change-picture" style=""><i class="fa fa-image"></i> Change Project Picture</button>
        <button class="btn btn-default upload-item"><i class="fa fa-upload"></i> Upload File</button>
        <% if (project.get('items').length > 0 && profile.get('printers').length > 0) { %>
        <button class="btn btn-default send-to-printer"><i class="fa fa-paper-plane"></i> Send to Printer</button>
        <% } %>
        <button class="btn btn-default edit" style=""><i class="fa fa-cog fa-lg"></i> Edit Project</button>

      </div>
    </div>
    <% if (project.get('description')) { %>
    <div class="panel project-description">
      <div class="panel-body">
        <%= project.get('description').replace(new RegExp('\r?\n', 'g'), '<br />') %>
      </div>
    </div>
    <% } %>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="project-items">
    </div>
  </div>
</div>
<input type="file" class="project-photo-upload hidden"/>
<input type="file" class="project-item-upload hidden" multiple/>
