<div class="preview-block" idx="<%= item.get('id') %>">
<% if (item.get('thumbnail')) { %>
  <img src="<%= item.get('thumbnail') %>" style="width:100%"/>
<% } else { %>
  <img src="/images/rings.svg" style="width:100%">
<% } %>
</div>
<div class="project-footer">
  <% if (item.get('size') && (item.get('size')[0] > 220 || item.get('size')[1] > 155 || item.get('size')[2] > 160)
    ) { %>
    <div class="project-name danger" title="<%= item.get('name') %>"><i class="fa fa-exclamation-circle"></i> <%= item.get('name') %></div>
  <% } else { %>
    <div class="project-name" title="<%= item.get('name') %>"><%= item.get('name') %></div>
  <% } %>
</div>
