<div class="modal fade"  tabindex="-1" role="dialog" id="gass">
    <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%- model.get('name') %> &nbsp; <i class="fa fa-pencil"></i> </h4>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="preview" syle="position:relative">
            <% if (model.get('sliced') == false) { %>
              <div class="sstatus" style="position:absolute;top:10px;left:15px"><i class="fa fa-spinner fa-spin"></i> slicing...</div>
            <% } %>
            <% if (model.get('sliced') == 'error') { %>
              <div class="sstatus" style="position:absolute;top:10px;left:15px"><i class="fa fa-exclamation-circle"></i> unable to slice!</div>
            <% } %>
            <% if (model.get('preview')) { %>
              <img  class="preview-image" src="<%- model.get('preview') %>"/>
            <% } else { %>
              <img  class="preview-image" src="/images/rings.svg">
            <% } %>

            <button class="show-three-dee"><img src="/images/rotate3d.svg"/></button>
            <div class="psinfo">
              <ul>
                <!--<li><%- model.get('_id') %></li>-->
              <% if (model.get('size')) { %>
                <li class="sizex <%- (model.get('size')[0] > 220) ? 'danger' : '' %>" val="<%- model.get('size')[0] %>"><b>Size X:</b> <span><%- (model.get('size')[0]).toFixed(1) %>mm</span></li>
                <li class="sizey <%- (model.get('size')[1] > 152) ? 'danger' : '' %>" val="<%- model.get('size')[1] %>"><b>Size Y:</b> <span><%- (model.get('size')[1]).toFixed(1) %>mm</span></li>
                <li style="margin-bottom: 10px" class="sizez <%- (model.get('size')[2] > 200) ? 'danger' : '' %>" val="<%- model.get('size')[2] %>"><b>Size Z:</b> <span><%- (model.get('size')[2]).toFixed(1) %>mm</span></li>
              <% }; %>
                <li><b>Resolution:</b> <span class="resolution"><%- model.get('resolution') %></span></li>
                <li><b>Infill:</b> <span class="infill"><%- model.get('infill') %></span></li>
                <li><b>Support:</b> <span class="support"><%- model.get('support') ? 'Yes' : 'No'%></span></li>
                <li><div style="margin-top:10px"><i class="fa fa-edit"></i> Click here to change</div></li>
              </ul>
            </div>
          </div>
        </div>

          <div class="edit hidden panel-body">
            <div class="form-group">
              <label class="control-label">Name: </label>
              <input type="text" class="form-control name" placeholder="name" value="<%- model.get('name') %>"/>
            </div>
            <!--
            <div class="form-group">
              <label class="control-label">Sharing: </label>
              <select class="form-control">
                <option value="0">Private</option>
                <option value="1"<% if (model.get('public')) { %> selected<% } %>>Public</option>
              </select>
            </div>
          -->
          </div>

        <div class="three-dee overlay hidden">
            <div class="threed-view">
                <div class="loader"><div>Loading....</div></div>
                <div class="form-group object-modifiers">
                  <div class="modify-pan">
                    <div class="modify-pan-body">
                      <div>
                        <button class="btn pbtn xflip" data-toggle="tooltip" data-placement="bottom" title="Rotate on X"><img src="/images/rotatex.svg" style="width:30px;height:30px"/></button>
                        <button class="btn pbtn yflip" data-toggle="tooltip" data-placement="bottom" title="Rotate on Y"><img src="/images/rotatey.svg" style="width:30px;height:30px"/></button>
                        <button class="btn pbtn zflip" data-toggle="tooltip" data-placement="bottom" title="Rotate on Z"><img src="/images/rotatez.svg" style="width:30px;height:30px"/></button>
                        <button class="btn pbtn rflip" data-toggle="tooltip" data-placement="bottom" title="Reset"><img src="/images/rotatereset.svg" style="width:30px;height:30px"/></button>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
        <div class="panel-body print-settings overlay hidden">
          <h4>Print Settings</h4>
          <div class="form-group">
            <div>
              <label class="control-label">Resolution: </label>
            </div>
            <div class="">
              <select class="form-control resolution">
                <option value="low"<%- (model.get('resolution') == 'low' ? ' selected':'') %>>Low</option>
                <option value="standard"<%- (model.get('resolution') == 'standard' ? ' selected':'') %>>Standard</option>
                <option value="high"<%- (model.get('resolution') == 'high' ? ' selected':'') %>>High</option>
              </select>
            </div>
          </div>


          <div class="form-group">
            <div>
              <label class="control-label">Infill</label>
            </div>
            <div class="">
              <select class="form-control infill">
                 <option value="hollow"<%- (model.get('infill') == 'hollow' ? ' selected':'') %>>Hollow</option>
                 <option value="light"<%- (model.get('infill') == 'light' ? ' selected':'') %>>Light</option>
                 <option value="standard"<%- (model.get('infill') == 'standard' ? ' selected':'') %>>Standard</option>
                 <option value="medium"<%- (model.get('infill') == 'medium' ? ' selected':'') %>>Medium</option>
                 <option value="heavy"<%- (model.get('infill') == 'heavy' ? ' selected':'') %>>Heavy</option>
                 <option value="solid"<%- (model.get('infill') == 'solid' ? ' selected':'') %>>Solid</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-6">
              <label><input type="checkbox" class="print-support"<%- (model.get('support') ? ' checked':'') %>> Print support</label>
            </div>

            <div class="form-group col-xs-6">
              <label><input type="checkbox" class="print-brim"<%- (model.get('brim') ? ' checked':'') %>> Print brim</label>
            </div>
          </div>



        </div>

      </div> <!-- modal body -->
      <div class="modal-footer">

          <div class="edit hidden">
            <button type="button" class="btn btn-default cancel-edit"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-default save"><i class="fa fa-check"></i> Save</button>
          </div>

          <div class="three-dee hidden">
            <button type="button" class="btn btn-default cancel-three-dee"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-default save-three-dee"><i class="fa fa-check"></i> Save</button>
          </div>

          <div class="read">
            <button type="button" class="btn btn-danger delete pull-left"><i class="fa fa-trash"></i> Delete</button>
            <!--<button type="button" class="btn btn-default getgcode pull-left"><i class="fa fa-download"></i></button>-->

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
          </div>

          <div class="print-settings hidden">
            <button type="button" class="btn btn-default cancel-print-settings"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-default save-print-settings"><i class="fa fa-check"></i> Save</button>
          </div>
      </div>
    </div>
  </div>
</div>
