<div class="row">
  <div class="col-xs-12">
    <h1><%- project.get('name') %></h1>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="panel">
      <div class="preview" style="min-height:100px">
        <img class="" src="<%- (project.get('preview')) ? project.get('preview') : '/images/noimage.png' %>"/>
        <button class="btn btn-default change-picture"><i class="fa fa-image"></i> Change Picture</button>
      </div>
      <div class="panel-body">
        <button class="btn btn-default upload-item"><i class="fa fa-upload"></i> Upload File</button>
        <% if (project.get('items').length > 0) { %>
        <button class="btn btn-default send-to-printer"><i class="fa fa-print"></i> Send to Printer</button>
        <% } %>
        <button class="btn btn-default edit pull-right"><i class="fa fa-cog"></i></button>
      </div>
    </div>
    <% if (project.get('description')) { %>
    <div class="panel project-description">
      <div class="panel-body">
        <%= project.get('description').replace(new RegExp('\r?\n', 'g'), '<br />') %>
      </div>
    </div>
    <% } %>
  </div>

  <div class="col-xs-12 col-md-8">

    <div class="project-items">
    </div>
  </div>
</div>
<input type="file" class="project-photo-upload hidden"/>
<input type="file" class="project-item-upload hidden"/>
