<div class="threed-view" style="">
  <div class="loader"><div>Loading....</div></div>
  <div class="form-group object-modifiers">
    <!--
    <button class="btn pbtn delete-project-btn"><i class="fa fa-trash"></i></button>

    <button class="btn pbtn hflip"><i class="fa fa-arrow-right"></i></button>
    <button class="btn pbtn vflip"><i class="fa fa-arrow-up"></i></button>
<button class="btn pbtn save"><i class="fa fa-save"></i></button> -->
    <div class="modify-pan">
      <div class="modify-pan-body">
        <div>
          <button class="btn pbtn hflip" data-toggle="tooltip" data-placement="bottom" title="Rotate on Z"><img src="/images/rotate1.svg" style="width:30px;height:30px"/></button>
          <button class="btn pbtn vflip" data-toggle="tooltip" data-placement="bottom" title="Rotate on X"><img src="/images/rotate2.svg" style="width:30px;height:30px"/></button>
        </div>
        <div>
          <button class="btn pbtn delete-project-btn"  data-toggle="tooltip" data-placement="top" title="Delete Project"><i class="fa fa-trash"></i></button>
          <button class="btn pbtn save-object-btn" data-toggle="tooltip" data-placement="top" title="Save Changes"><i class="fa fa-save"></i></button>
        </div>
      </div>
      <button class="btn pbtn print-settings-btn" data-toggle="tooltip" data-placement="top" title="Print">PRINT </button>
      <!--<button class="btn pbtn modify-object-btn" data-toggle="tooltip" data-placement="top" title="Printer Settings"><i class="fa fa-cog"></i></button>-->
      <!--<button class="btn pbtn cancel-modify-obj hidden" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-remove"></i></button>-->
    </div>

  </div>
</div>

<div class="printer-items"></div>
