<div class="col-xs-12 header">
  <h1>Firmware</h1>
</div>

<div class="col-xs-12">
  <div class="panel panel-body">
    <p>In case auto update fails, or you want to force printer firmware update, use the buttons below to manually trigger updates.</p>
    <p>Select the printer you wish to update in the menu above (if you have more then one printer defined), and make sure that printer is showing green icon (online) next to it.</p>
  </div>
</div>

<% if (profile.get('printers').length > 0) { %>
  <% if (selectedPrinter.status == "online") { %>
    <div class="col-xs-12">
      <button class="btn btn-default button update-mk20" type="button"><i class="fa fa-cogs"></i> Update MK20 Firmware</button>
      <button class="btn btn-default button update-esp" type="button"><i class="fa fa-cogs"></i> Update ESP8266 Firmware</button>
      <button class="btn btn-default button update-ui" type="button"><i class="fa fa-image"></i> Update UI File</button>
      <button class="btn btn-default button format-esp" type="button"><i class="fa fa-save "></i> Format ESP8266 Memory</button>
    </div>

    <div class="col-xs-12 console-out" style="padding-top:20px;height:100%  ">
      <iframe src="http://printrbot.local/events" style="width:100%; height: 100%; min-height:300px; background-color: rgba(255, 255, 255, 0.3); border: none; box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);margint-top:10px">
      </iframe>
    </div>
  <% } else { %>
    <div class="col-xs-12">
      <div class="alert alert-danger">Selected printer is not online</div>
    </div>
  <% } %>
<% } else { %>
  <div class="col-xs-12">
    <div class="alert alert-danger">You do not have any printer defined yet. Please do this first</div>
  </div>
<% } %>
