
  <div class="col-xs-12 header">
    <h1>Projects Library</h1>
  </div>

<div class="col-xs-12">
  <div class="search-block"></div>
</div>
<div class="model-container">
<div class="projects-pan col-xs-12">
  <!--
  <div class=" col-lg-2 col-md-3 col-sm-4 col-xs-6 upload-file">
    <div>
    <i class="fa fa-cloud-upload fa-5x"></i>
    <label>Upload Model</label>
    </div>
  </div>
-->
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 create-project project-block">
  <div class="">
    <img src="/images/createproject.png" style="width:100%"/>
  </div>
  <div class="create-project-footer">
      <div class="project-name">Create Project</div>
  </div>
</div>


<input type="file" class="file-upload hidden"/>
</div>
