<div class="col-xs-10  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
    <div class="login-header">
      <img src="/images/printrbotdotcloud.svg" style="width:100%"/>
    </div>
    <div>
      <div class="login-form">
        <div class="form-group">
            <input type="email" class="form-control" id="login_email" placeholder="email" value=""/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="login_password" placeholder="password" value=""/>
        </div>
        <div class="form-group">
            <button class="btn btn-default login-btn col-xs-12">Login</button>
        </div>
        <div class="register">
          <a href="#register"><i class="fa fa-user"></i> Create account</a> &nbsp; &nbsp;
          <a href="#resetpassword" class=""><i class="fa fa-envelope"></i> Forgot password</a>
        </div>
      </div>
    </div>
</div>
