<div class="col-xs-10  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4" style="margin-top:40px">

    <div class="register-header">
      <h1>Reset Password</h1>
      <div>Please enter your email below</div>
    </div>

    <div>
      <div class="login-form">
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="email"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default reset-btn col-xs-12">Submit</button>
        </div>
        <div class="register">
          <a href="#login" class="cancel-reset"><i class="fa fa-remove"></i> cancel</a>
        </div>
      </div>
    </div>
</div>
