<div class="col-xs-12 header">
  <h1>Materials Library</h1>

</div>

<div class="material-container">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Name</th>

          <th>Type</th>
          <th>Brand</th>
          <th>Print Temperature</th>
          <th>Speed</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    <% _.each(materials, function(m) { %>
      <tr>
        <td><b><%- m.name %></b></td>
        <td><%- m.type %></td>
        <td><%- m.brand %></td>
        <td><%- m.print_temperature %></td>
        <td><%- m.speed * 100 %>%</td>
        <td style="width:30px"><button class="btn btn-sm"><i class="fa fa-edit"></i></button></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>

<% if (profile.get('printers').length > 0) { %>
<button class="btn btn-default send-to-printer"><i class="fa fa-paper-plane"></i> Send to Printer</button>
<% } %>
