<div class="col-xs-12 header">
  <h1>Materials Library</h1>

</div>

<div class="material-container">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Name</th>
          <th>Color</th>
          <th>Type</th>
          <th>Brand</th>
          <th>Print Temperature</th>
          <th>Speed</th>
      </tr>
    </thead>
    <tbody>
    <% _.each(materials, function(m) { %>
      <tr>
        <td><b><%- m.name %></b></td>
        <td><%- m.color %></td>
        <td><%- m.type %></td>
        <td><%- m.brand %></td>
        <td><%- m.print_temperature %></td>
        <td><%- m.speed * 100 %>%</td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
